<!DOCTYPE html>
<html>
    <head>
        <title>Delete a User</title>
        <link rel="stylesheet" href="DeleteUserCSS.css">
        <script src="DeleteUserJS.js"></script>
    </head>
    <body>
        <form method="post">
        <div class="gen">
<div class="left">
<img src="pngwing.com (3).png" alt="Shop logo">
<h1 id="logo">MINIM</h1>
<p>Electronic Devices</p>
</div>
<br><br><br>
    <div class="right">
        <br>
        <br>
        <br>
        <h1 id="re">Delete a User</h1>
        <div class="gen2">
        <div class="p1">
        <h2 id="FNH">First Name</h2>
        <input type="text" name="FirstName" id= "FNI" placeholder="Ahmed" required>
         <p id="FNV"></p>
        <h2 id="LNH">Last Name</h2>
        <input type="text" name="LastName" id= "LNI" placeholder="Mohamed" required>
        <p id="LNV"></p>
        </div>
        <div class="p2">
        
        </div>
        </div>
        <br>
        <br>
        <div class="BD">
        <button type="button" onclick="DelFun()" class="DB" name="DelB" >Delete</button>
        <button type="button" onclick="CanFun()" class="CB" name="CancelB" >Cancel</button>
        </div>
        </div>
    </div>
        </div>
        </form>
    </body>
</html>