<!DOCTYPE html>
<html>
    <head>
        <title>Registeration</title>
        <link rel="stylesheet" href="RegisterationCSS.css">
        <script src="RegisterationJS.js"></script>
    </head>
    <body>
        <form method="post">
        <div class="gen">
<div class="left">
<img src="pngwing.com (3).png" alt="Shop logo">
<h1 id="logo">MINIM</h1>
<p>Electronic Devices</p>
<br>
<label id="RL"><spam id="NU">Have an account? </spam><a href="LoginForm.html">Login</a></label>
</div>

    <div class="right">
        <h1 id="re">Registeration</h1>
        <div class="gen2">
        <div class="p1">
        <h2 id="FNH">First Name</h2>
        <input type="text" name="FirstName" id= "FNI" placeholder="Ahmed" required>
        <p id="FNV"></p>
        <h2 id="LNH">Last Name</h2>
        <input type="text" name="LastName" id= "LNI" placeholder="Mohamed" required>
        <p id="LNV"></p>
        <h2 id="EmH">Email</h2>
        <input type="email" name="Email" id= "EmI" placeholder="ahmed@gmail.com" required>
        <p id="EV"></p>
        </div>
        <div class="p2">
        <h2 id="PH">Password</h2>
        <input type="password" name="Password" id= "PI" placeholder="Enter your Password" required>
        <p id="PV"></p>
        <p id="PV1"></p>
        <p id="PV2"></p>
        <p id="PV3"></p>
        <h2 id="PH">Phone Number</h2>
        <input type="text" name="PhoneNumber" id= "PNI" placeholder="01123456789" required>
        <p id="PNV"></p>
        
        <h2 id="AH">Address</h2>
        <input type="text" name="Address" id= "AI" placeholder="Al-Ahly Street, Cairo" required>
        <p id="AV"></p>
        
        </div>
        
        </div>
        <div class="BD">
        <button type="button" onclick="RegisterFun()" class="RB" name="RegisterB" >Register</button>
        </div>
    </div>
        </div>
        </form>
    </body>
</html>